.flows_raspberrypi.json.backup
[{"id":"86115b11.393ab8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"38b30972.951286","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"9ff98972.d07338","type":"inject","z":"86115b11.393ab8","name":"PingDevices","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/1 6-19 * * 1,2,3,4,5","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":160,"y":300,"wires":[["e77c39b7.e946f8"]]},{"id":"e77c39b7.e946f8","type":"arp","z":"86115b11.393ab8","name":"ARP - get logged in devices","macs":"","x":520,"y":300,"wires":[["fc336adf.4c57d8"]]},{"id":"fc336adf.4c57d8","type":"function","z":"86115b11.393ab8","name":"getMacsFromARPTable","func":"var out = [];\nfor(var device of msg.payload){\n    out.push(device.mac);\n}\n//node.warn(out);\nreturn {payload:out};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":300,"wires":[["b740977c.53d268"]]},{"id":"c49dbcbf.5c704","type":"http request","z":"86115b11.393ab8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.168.0.172:8080/api/v1/employees/all","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":60,"wires":[["2fcd062a.8bbeba"]]},{"id":"326a3113.16752e","type":"inject","z":"86115b11.393ab8","name":"GetEmployees","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":60,"wires":[["c49dbcbf.5c704"]]},{"id":"2fcd062a.8bbeba","type":"json","z":"86115b11.393ab8","name":"","property":"payload","action":"obj","pretty":false,"x":530,"y":60,"wires":[["bdc2128d.369ce"]]},{"id":"bdc2128d.369ce","type":"function","z":"86115b11.393ab8","name":"mapper","func":"flow.set(\"employees\", msg.payload);\nnode.warn(flow.get(\"employees\"));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":60,"wires":[[]]},{"id":"b740977c.53d268","type":"function","z":"86115b11.393ab8","name":"logDevicesOfLoggedInEmployees","func":"// get all currently logged in devices\nvar currentlyLoggedIn = flow.get(\"loggedIn\");\n// for testing\nif(currentlyLoggedIn === undefined){\n    currentlyLoggedIn = [];\n}\n// get employees\nvar employees = flow.get(\"employees\");\n// get list of currently logged in devices from ARP table\nvar loggedInDevices = msg.payload;\n\nfor(var mac of loggedInDevices) {\n    for(var employee of employees){\n        // if device in LAN is of an employee\n        if(employee.deviceId !== undefined && employee.deviceId.includes(mac)){\n            // if device is already logged in \n            // update lastTime of ping\n            if(currentlyLoggedIn.find(lg => lg.id === employee.uuid)){\n                var device = currentlyLoggedIn.\n                find(lg => lg.id === employee.uuid);\n                var index = currentlyLoggedIn.indexOf(device);\n                currentlyLoggedIn[index].lastTime = new Date();\n            } else { // else add device to currently logged in\n                var newDevice = {};\n                newDevice.id = employee.uuid;\n                newDevice.startTime = new Date();\n                currentlyLoggedIn.push(newDevice);\n            }\n        }\n    } \n}\nflow.set(\"loggedIn\",currentlyLoggedIn);\nnode.warn(currentlyLoggedIn);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":300,"wires":[[]]},{"id":"8d05c074.73eed","type":"inject","z":"86115b11.393ab8","name":"StartOfWorkday","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"59 05 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":360,"wires":[["829beeab.8363e"]]},{"id":"829beeab.8363e","type":"function","z":"86115b11.393ab8","name":"resetLoggedInDevices","func":"var tmp = [];\nflow.set(\"loggedIn\", tmp);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":440,"wires":[[]]},{"id":"29c9fb93.201f74","type":"inject","z":"86115b11.393ab8","name":"EndOfWorkday","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"59 23 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":600,"wires":[["761a7e40.7178d"]]},{"id":"761a7e40.7178d","type":"function","z":"86115b11.393ab8","name":"logTimeAtEndOfWorkday","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":540,"wires":[[]]}]